# Node
node_modules/
.env
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Test Coverage
coverage/

# Dependency directories
bower_components/

# Misc
*.tgz
